
body {
  margin: 20px auto;
  width: 75%;
  height: 75%;
}
h1 {
  margin: 20px auto;
  text-align: center;
}
.grid-container {
  box-sizing: content-box;
  width: 480px;
  height: 480px;
  border: 2px solid black;
  margin: 10px auto;
  display: flex;
  flex-flow: row wrap;
}
.grid-container div {
  box-sizing: border-box;
  border: 1px solid black;
  flex: 1 30px;
}
.grid-container div:hover {
  background-color: red;
}