
body {
  margin: 20px auto;
  width: 75%;
  height: 75%;
  font-family: sans-serif;
}
h1 {
  margin: 20px auto;
  text-align: center;
}
button {
  display: block;
  width: 65px;
  height: 27px;
  margin: 30px auto;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 1em;
  background-color: rgba(225, 224, 224, 0.886);
  /* box-shadow: 0px 2px 2px 1px lightgrey; */
}
.grid-container {
  box-sizing: content-box;
  width: 500px;
  height: 500px;
  border: 2px solid black;
  margin: 10px auto;
  display: flex;
  flex-flow: row wrap;
}
.grid-container div {
  box-sizing: border-box;
  border: 1px solid black;
  flex: 1 31.25px;
}
/* .grid-container div:hover {
  background-color: red;
} */